name: Docker Image CI

on:
  workflow_dispatch:
    inputs:
      docker_registry:
        description: 'Registry URL'
        required: true
        default: 'docker.io/username'
      docker_tag_name:
        description: 'Tag you wish to use on the docker image'
        required: true
        default: 'rps:v1'
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Docker Login
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ github.event.inputs.docker_registry }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          logout: true
      - name: Build and Push the Docker image
        run: docker buildx build --platform linux/amd64,linux/arm64 --push --file Dockerfile --tag ${{ github.event.inputs.docker_registry }}/${{ github.event.inputs.docker_tag_name }} .
